@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
	font-family: Pixel;
	src: url(/images/XPDR.TTF);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
section,
header,
footer {
  display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  background-color: #180d12;
	background-position: center;
  background-size: cover;
	position: relative;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  display: flex;
  line-height: normal;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  position: sticky;
  overflow-x: hidden;
  overflow-y: visible;
  font-weight: 400;
}

.copyright span{
  display: inline-block;
  font-family: Pixel;
  font-size: 16px;
  color: #ffffff;
  padding-top: 17px;
  padding-bottom: 12px;
  font-weight: 400;
  
}

.wrapper {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  width: 100%;
}

.header,
.footer,
.form-row {
  flex: 0 0 auto;
}

.header {
  background-color: #000000;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  width: 100%;
}

.header__logo {
  max-width: 350px;
  filter: drop-shadow(0px 0px 2px #00ff15);
  -webkit-filter: drop-shadow(0px 0px 2px #00ff15);
  -webkit-animation: bounce-in-left 1.1s both;
  animation: bounce-in-left 1.1s both;
}

.header__center {
  width: auto;
  margin-left: auto;
  display: flex;
  filter: drop-shadow(0px 0px 3px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 3px #ffffff);
  -webkit-animation: bounce-in-right 1.1s both;
	        animation: bounce-in-right 1.1s both;
}

.header__right {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-left: auto;
  justify-content: center;
  filter: drop-shadow(0px 0px 12px #ff79e9);
  -webkit-filter: drop-shadow(0px 0px 12px #ff79e9);
  -webkit-animation: bounce-in-right 1.1s both;
  animation: bounce-in-right 1.1s both;
}
.btn-head {
  background:#000000;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 12px;
  color: #ffffff;
  padding: 21px 40px;
  margin-left: 20px;
  transition: all 0.4s ease 0s;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  filter: drop-shadow(0px 0px 3px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 3px #ffffff);
}
.btn-head:hover {
  background: #ffffff;
  color: #000000;
}

.head-twitter {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  transition: all 0.4s ease 0s;
  background-image: url(../images/icons-twitter-icon-hover.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.head-twitter:hover {
  width: 54px;
  height: 54px;
}

.head-discord {
  width: 50px;
  height: 50px;
  transition: all 0.4s ease 0s;
  background-image: url(../images/icons-discord-icon-hover.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.head-discord:hover {
  width: 54px;
  height: 54px;
}

.head-opensea {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  transition: all 0.4s ease 0s;
  background-image: url(../images/icons-opensea-icon-hover.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.head-opensea:hover {
  width: 54px;
  height: 54px;
}

.head-etherscan {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  transition: all 0.4s ease 0s;
  background-image: url(../images/icons-etherscan-icon-hover.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.head-etherscan:hover {
  width: 54px;
  height: 54px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  
  flex: 1 1 auto;
  background-image: url(../images/Animation.gif);
  background-position: center;
  background-size: cover;
}
.main__row {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: #000000af;
}
.main__row2 {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 10px;
  bottom: -450px;
  width: fit-content;
  border-radius: 10px;
}
.main__left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  padding: 10px 0px;
  width: auto;

  -webkit-animation: bounce-in-left 1.1s both;
  animation: bounce-in-left 1.1s both;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.main__left2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  padding: 20px 20px;
  bottom: 10px;
  width: auto;
  filter: drop-shadow(0px 0px 6px #00ff15);
  -webkit-filter: drop-shadow(0px 0px 6px #00ff15);
  -webkit-animation: bounce-in-left 1.1s both;
  animation: bounce-in-left 1.1s both;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.main__right {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
  position: relative;
  -webkit-animation: bounce-in-right 1.1s both;
  animation: bounce-in-right 1.1s both;
}
.main__right img {
  width: 60vh;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 5px #ff79e9);
  -webkit-filter: drop-shadow(0px 0px 5px #ff79e9);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.number {
  font-family: Pixel;
  font-size: 60px;
  color: #ffffff;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 0px 1px #ffffffd7);
  -webkit-filter: drop-shadow(0px 0px 1px #ffffffd7);
}

.form-text {
  font-size: 24px;
  color: #ffffff;
  font-weight: 800;
  filter: drop-shadow(0px 0px 1px #ff79e9);
  -webkit-filter: drop-shadow(0px 0px 1px #ff79e9);
}

.form-text2 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 800;
  filter: drop-shadow(0px 0px 3px #ff79e9);
  -webkit-filter: drop-shadow(0px 0px 3px #ff79e9);
}

.form-text-2 {
  font-size: 22px;
  color: #ffffff;
  font-weight: 800;
  filter: drop-shadow(2px 2px 1px #000000);
  -webkit-filter: drop-shadow(2px 2px 1px #000000);
}

.form-row {
  position: relative;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  bottom: 0px;
  filter: drop-shadow(0px 0px 2px #00ff15);
  -webkit-filter: drop-shadow(0px 0px 2px #00ff15);
}

.form-wl-check {
  width: auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 3px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 3px #ffffff);
}

.form-row-amount {
  width: 80%;
  height: 80px;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 0px 2px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 2px #ffffff);
}

.form-row-mint {
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 16px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 16px #ffffff);
}
.form-row-mint2 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 2px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 2px #ffffff);
}

.form-row-mint a {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin: 10px;
}

.main-btn-1 {
  width: 238px;
  height: 100px;
  background: url(../images/Start_Game.png) no-repeat;
  margin: 10px;
}
.main-btn-1:hover {
  width: 238px;
  height: 100px;
  background: url(../images/Start_Game2.png) no-repeat;
}

.main-btn-2 {
  width: 238px;
  height: 100px;
  background: url(../images/Guide.png) no-repeat;
  margin: 10px;
}
.main-btn-2:hover {
  width: 238px;
  height: 100px;
  background: url(../images/Guide2.png) no-repeat;
}

.in-form {
  flex: 1 1 auto;
  border-radius: 5px;
  background-color: #ffffffb6;
  height: 50px;
  width: 40%;
  padding: 0 15px;
  color: #3b2f7d;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.4s ease 0s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.in-form::placeholder, .in-form::-moz-placeholder, .in-form::-webkit-placeholder {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
}
.in-form:focus {
  background: #ffffff;
}

.btn-form {
  height: 50px;
  text-align: center;
  border-radius: 12px;
  background-color: #000000;
  padding: 18px 40px;
  transition: all 0.4s ease 0s;
  margin-left: 15px;
  margin-right: 15px;
  font-family: Pixel;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  filter: drop-shadow(0px 0px 4px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 4px #ffffff);
}
.btn-form:hover {
  background-color: #ffffff;
  color: #000000;
}

.btn-form2 {
  height: 70px;
  text-align: center;
  border-radius: 12px;
  background-color: #000000;
  padding: 24px 40px;
  transition: all 0.4s ease 0s;
  font-family: Pixel;
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  filter: drop-shadow(0px 0px 4px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 4px #ffffff);
}
.btn-form2:hover {
  background-color: #ffffff;
  color: #000000;
}

.btn-2 {
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 25px;
  background-color: #000000;
  transition: all 0.4s ease 0s;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  filter: drop-shadow(0px 0px 4px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 4px #ffffff);
}
.btn-2:hover {
  background-color: #ffffff;
  color: #000000;
}

.btn-form-wl {
  height: 50px;
  text-align: center;
  border-radius: 12px;
  background-color: #000000;
  padding: 0px 40px;
  transition: all 0.4s ease 0s;
  font-family: HeyComic;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  filter: drop-shadow(0px 0px 4px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 4px #ffffff);
}
.btn-form-wl:hover {
  background-color: #ffffff;
  color: #000000;
}

.text-bot-form {
  margin-top: 35px;
  color: #e7e7e7;
  max-width: 400px;
  line-height: 20px;
}

.footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(233, 169, 49, 0.49rgba(250, 255, 101, 0.479),101,1rgba(185, 144, 32, 0.452)5,32,1) 100%);
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-follow {
  color: #d6d4e1;
  font-weight: 700;
  transition: all 0.4s ease 0s;
}

.for-right {
  margin-left: auto;
}

.link-fot {
  font-size: 15px;
  font-weight: 500;
  color: #d6d4e1;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}
.link-fot:hover {
  color: #ffffff;
}
.link-fot:first-child {
  margin-right: 102px;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
  justify-content: space-between;
}

.justify-content-between {
  justify-content: space-between;
}

.none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.body-fixed {
  position: fixed;
}

.text-center {
  text-align: center;
  filter: drop-shadow(0px 0px 1px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 1px #ffffff);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img.ibg-img {
  display: none;
}

li.counter {
  list-style-type: none;
  counter-reset: item;
}
li.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
li.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

input.error,
textarea.error {
  border-color: red;
}

 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

 @-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/**
 * ----------------------------------------
 * animation bounce-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
